Repository FlowingSPDG/get5loader, pull requests merged in 2020-02, with the labels that each got.

#131 More configration in config.ini
  server/config.ini.template
  server/main.go
  server/src/api/api.go
  server/src/db/db.go
  server/src/db/models.go
  server/src/grpc/services/team.go
  web/src/components/MatchCreate.vue
  web/src/utils/api.vue
Labels: API, Additional

#133 Repalced gorilla/mux by gin-gonic/gin
  PATCHNOTE.MD
  server/main.go
  server/src/api/api.go
  server/src/api/get5.go
  server/src/db/db.go
  server/src/db/models.go
  server/src/grpc/services/game_server.go
  server/src/grpc/services/match.go
  server/src/grpc/services/match_event.go
  server/src/grpc/services/team.go
  server/src/grpc/services/user.go
  server/src/util/util.go
  web/src/components/MyMatches.vue
Labels: API, enhancement

#136 GORM Foreign key support
  server/src/api/api.go
  server/src/api/models.go
  server/src/db/db.go
  server/src/db/models.go
Labels: API, Additional, DB

#138 Fixed SRCDS logging caused to JSON Unmarshaling error
  server/src/util/util.go
Labels: API, Game, bug

#140 Support migration from original get5-web #4
  .travis.yml
  makefile
  migration/README.MD
  migration/migrate/dbconfig.yml
  migration/migrate/main.go
  migration/migrate/schema/20000101000000-create_tables.sql
  migration/migrate/schema/20200215144322-create_tables.sql
  migration/migrate_from_original/main.go
  server/migration/.gitkeep
Labels: DB, enhancement

#142 [feat] Added CVAR option on "Create a Match". #134 .
  migration/migrate/schema/20200216110435-create_tables.sql
  server/proto/get5-web-go.proto
  server/src/api/api.go
  server/src/db/models.go
  server/src/grpc/proto/get5-web-go.pb.go
  server/src/grpc/services/match.go
  server/src/grpc/test/grpc_client_test.go
  web/src/components/MatchCreate.vue
Labels: API, Additional, enhancement

#145 Added config manager package. all variables are now shared
  server/main.go
  server/src/api/api.go
  server/src/cfg/cfg.go
  server/src/db/db.go
  server/src/db/models.go
  server/src/util/util.go
Labels: Additional

#143 Supported "steamids" column on "team" table. (Writing only!) #39
  server/src/api/api.go
  server/src/db/models.go
  server/src/grpc/services/team.go
  web/src/components/Team.vue
Labels: API, Additional, enhancement

#148 Fix/playerstats api #147
  server/src/api/get5.go
  server/src/db/models.go
  server/src/grpc/services/match_event.go
Labels: API, Additional, bug

#150 Added gRPC client examples for Go and NodeJS.
  grpc/go/main.go
  grpc/nodejs/.gitignore
  grpc/nodejs/app.js
  grpc/nodejs/package-lock.json
  grpc/nodejs/package.json
Labels: API, Additional, documentation, enhancement

#151 fixed command args for grpc test
  grpc/go/main.go
  grpc/nodejs/app.js
  grpc/nodejs/package-lock.json
  grpc/nodejs/package.json
Labels: API, enhancement

#154 Added SRCDS Logging
  makefile
  migration/migrate/schema/20200218173540-create_tables.sql
  migration/migrate/schema/20200219005005-create_tables.sql
  server/main.go
  server/proto/get5-web-go.proto
  server/src/api/get5.go
  server/src/db/models.go
  server/src/grpc/proto/get5-web-go.pb.go
  server/src/logging/log.go
Labels: API, Additional

#158 Feat : i18n for English/Japanese
  web/package.json
  web/src/App.vue
  web/src/components/Match.vue
  web/src/components/MatchCreate.vue
  web/src/components/Matches.vue
  web/src/components/Metrics.vue
  web/src/components/MyMatches.vue
  web/src/components/MyServers.vue
  web/src/components/ServerCreate.vue
  web/src/components/Team.vue
  web/src/components/TeamCreate.vue
  web/src/components/Teams.vue
  web/src/components/User.vue
  web/src/main.ts
  web/src/translations/translations.json
  web/src/utils/api.vue
  web/yarn.lock
Labels: API, Vue, enhancement

#159 Added danish language
  web/src/App.vue
  web/src/translations/translations.json
Labels: Vue, enhancement

#164 Fix/match loading #153
  server/src/api/api.go
  web/src/components/Matches.vue
  web/src/components/MyMatches.vue
Labels: API, Additional, Vue, enhancement
